
nav{
  --hor-padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* padding-left:; */
  font-size: 1em;
  margin-top: 1.2em;

  a > img{
      width: 30px;
  }

  ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2em;
  }

  button{
      margin-right: var(--hor-padding);
  }
}

a{
  text-decoration: none;
  color: black;
}


main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

body {
  width: 100%;
  padding: 0 clamp(1em, 3vw, 2em);

  box-sizing: border-box;

  margin: 0;

  display: flex;
  flex-direction: column;
}

footer {
  border: 1px solid green;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 3rem;

  width: 100%;
  height: 400px;
  position: relative;

  img {
    width: 30%;
    aspect-ratio: 4 / 3;
  }

  > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
  }
}