<li>
  {% comment %} <img src="../../public/images/logo.svg" alt="Language logo"> {% endcomment %}
  <p class="language-name">{{ language }}</p>
</li>

{% comment %} 
<i class="fa-brands fa-css"></i>
<i class="fa-brands fa-html5"></i>
<i class="fa-brands fa-js"></i> {% endcomment %}