.contact-link {
    width: fit-content;
    padding: 0.5em 1em;
    border: 2px solid var(--link-border-color);
    border-radius: 5rem;
    background: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: #333333;
  }

  .contact-link:hover{
    background-color: black;
    color: white
  }