<div class="container">
        <h2 class="text-container">
            <span class="word">Frontend</span>
            <span class="word">Game</span>
        </h2>
        <h2 class="text-container">
            <span class="word">Designer</span>
            <span class="word">Programmer</span>
        </h2>
    </div>