#disciplines-list {

    width: 50%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style: none;

    li a{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid var(--link-border-color);
    }
  }

#discipline-highlighter {


    width: 40%;
    height: 60%;
    object-fit: cover;
    /* aspect-ratio: 16 / 9; */
  }