
<ul id="disciplines-list" data-disciplines-list>
    <li>
      <a href="/work?category=Web%20Programming" data-discipline="web-programming">
        <p>Web Programming</p>
        <p>View Work</p>
      </a>
    </li>
    <li>
      <a href="/work?category=Web%20Designing" data-discipline="web-design">
        <p>Web Designing</p>
        <p>View Work</p>
      </a>
    </li>
    <li>
      <a href="/work?category=Game%20Programming" data-discipline="game-programming">
        <p>Game Programming</p>
        <p>View Work</p>
      </a>
    </li>
    <li>
      <a href="/work?category=Game%20Designing" data-discipline="game-design">
        <p>Game Designing</p>
        <p>View Work</p>
      </a>
    </li>
  </ul>
  <!-- Discipline highlighter -->
  <div id="discipline-highlighter" data-highlight-image>
    {% if disciplineProjects['web-programming'] %}
      <a href="/project/{{ disciplineProjects['web-programming'].id }}" id="discipline-image-link">
        <img src="{{ disciplineProjects['web-programming'].projectFeaturedImage }}" alt="{{ disciplineProjects['web-programming'].projectname }}" />
      </a>
    {% else %}
      <img src="../../../public/images/image-placeholder.png" alt="No project available" />
    {% endif %}
  </div>