{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1>hallo</h1>

{% comment %} {% render '../../components/under-construction/under-construction.liquid' %} {% endcomment %}


{% endblock %}